@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;900&display=swap');

* {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
}

:root {
  /*  Cores */
  --background-color: #fff;
  --primary-color: #fba723;
  --secondary-color: #e4931b;
  --text-color: #3a3a3a;
  --hover-color: #7f7b77;
  --hover-color-text: #a0a0a0;
}
